@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Vampiro+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Fira Code', monospace;
  color: rgb(43, 43, 43);
  font-size: 16px;
}
h1 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
button {
  outline: 0 !important;
}
.main-container {
  width: 700px;
  margin: auto;
}
.header-container {
  width: 80%;
  margin: auto;
}
.logo-text {
  font-family: 'Vampiro One', cursive;
  font-size: 42px;
  color: rgb(61, 80, 252);

}
.logo-text-sub {
  color: rgb(26, 211, 180);
}
header {
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 3px 10px rgb(226, 226, 226);
  margin-bottom: 50px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.li-element {
  text-transform: capitalize;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-list-main {
  margin-bottom: 50px;
}
.done-icon-main {
  /* position: absolute;
  width: 20px;
  top: 25%;
  right: 30px; */
  display: none;
}
.active-done-img {
  display: block;
}
.done-icon {
  width: 20px;
}
.MuiPagination-ul {
  justify-content: center;
}
.logo-link {
  text-decoration: none;
  transition: all 0.5s ease;
}
.logo-link:hover {
  text-decoration: none;
  transform: rotate(10deg);
}
.ul-skeleton {
  margin-bottom: 50px;
}
.loading-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-before-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MuiPagination-ul a {
  font-family: 'Fira Code', monospace !important;
  font-weight: 600;
}
.MuiPagination-ul a:hover {
  color: unset;
  text-decoration: unset;
}
.not-found-main {
  text-align: center;
  margin-top: 180px;
}
.not-found-h2 {
  margin-bottom: 60px;
  color: rgb(61, 80, 252);
}
.not-found-h2-sub {
  color: rgb(26, 211, 180);
}
.menu-ul {
  display: flex;
  margin-bottom: 0;
}
.menu-li {
  list-style: none;
  margin-right: 20px;
}
.menu-li-active {
  font-weight: 700;
}
.menu-li:last-child {
  margin-right: 0;
}
.background-li {
  background-color: rgb(238, 238, 238);
}

@media only screen and (max-width: 740px) {
  .main-container {
    width: 92%;
  }
  .header-content {
    flex-direction: column;
  }
  .menu-ul {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  header {
    padding: 20px 0;
    box-shadow: unset;
    border-bottom: 2px solid rgb(233, 233, 233);
  }
}
